<section id="home" class="flex-vertical flex-center-self home-wrapper">
    <div class="background-image-wrapper">
        <img class="background-image" src="../images/splash-img/circuitboard.jpg"/>
    </div>
    <div class="flex-vertical flex-center-self flex-center-children">
        <div class="home-text">
            <em style="font-size:30px;">Matthew Kwiecien</em><br />
            Full-stack Software Developer <br />
            Chicago, IL
        </div>
        <div class="button scroll-to" dest="main">About <i class="icon fas fa-arrow-right"></i></div>
    </div>
</section>