<section id="home" class="flex-vertical flex-center-self" style="height: calc(100vh + 53px);">
    <div class="background-image"></div>
    <div class="flex-vertical flex-center-self flex-center-children">
        <div class="home-text">
            <em style="font-size:26px;">Matthew Kwiecien</em><br />
            Full-stack Software Developer <br />
            Chicago, IL
        </div>
        <div class="button scroll-to" dest="about">About <i class="icon fas fa-arrow-right"></i></div>
    </div>
</section>