/*Header styles*/
.navbar {
    padding: 15px 0;
}

.main-header .navbar-brand {
    padding-left: 0;
    font-size: 22px;
}

.navbar-toggle {
    border: 1px solid #eaeaea;
}

    .navbar-toggle .icon-bar {
        background-color: #eaeaea;
    }

.main-header {
    font-family: 'Space Mono', monospace;
    position: relative;
    background-color: #252a34;
    border-bottom: 1px solid grey;
}

    .main-header.default {
        opacity: 0;
        animation: intro 0.45s;
        animation-fill-mode: forwards;
    }

    .main-header a, .main-footer a {
        color: #eaeaea;
        font-weight: bold;
    }

        .main-header a:hover {
            color: #bbb;
            background-color: #252a34 !important;
        }

/*Footer styles*/
.main-footer {
    background-color: #1a1d24;
    z-index: 20;
    text-align: left;
}

    .main-footer.default {
        min-height: 75px;
        opacity: 0;
        animation: intro 0.75s;
        animation-fill-mode: forwards;
    }

    .main-footer .container {
        padding-top: 20px;
    }

        .main-footer .container ul.follow-container {
            padding-left: 0;
        }

            .main-footer .container ul.follow-container > li {
                padding-right: 30px;
                font-weight: bold;
                font-size: 18px;
            }

        .main-footer .container > p {
            font-size: 11px;
        }


    .main-footer a:hover {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }

    .main-footer a:hover {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }

    .main-footer a:focus {
        text-decoration: none;
    }

/*Media Queries*/
@keyframes intro {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes intro {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .main-footer .container ul.follow-container > li {
        font-size: 14px;
    }
}
