.background-image {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    background-image: url(../images/alexandre-debieve-561298-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    height: 100%;
    width: 100%;
}

.home-text {
    font-family: 'Space Mono', monospace;
    font-size: 18px;
}

#home .button {
    margin-top: 20px;
    padding: 6px 20px;
    border: 2px solid #fff;
    box-sizing: inherit;
    display: inline-block;
    font-size: 13pt;
    transition: all .5s;
    cursor: pointer;
    vertical-align: middle;
}

    #home .button:hover {
        background-color: #252a34;
        border-color: #252a34;
    }

        #home .button:hover .icon {
            transform: rotate(90deg);
        }


/*Header styles*/
.main-header.splash.fixed {
    animation: popDown 0.2s;
}

/*Footer styles*/
.main-footer.splash {
    height: 0;
    margin-top: 75px;
}

    .main-footer.splash.fixed {
        margin-top: 0;
        height: 75px;
        transition-duration: .3s;
    }


/*Media Queries*/

@keyframes popDown {
    0% {
        transform: translateY(-100px);
    }
}

@keyframes popUp {
    100% {
        margin-top: 0;
        height: 75px;
    }
}
