.background-image-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    height:100%;
    width:100%;
}

.background-image {
    background-image: url(../images/circuitboard.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    height: 100%;
    width: 100%;
    min-width: 1920px;
}

.home-text {
    font-family: 'Space Mono', monospace;
    font-size: 22px;
}

#home .button {
    margin-top: 20px;
    padding: 6px 20px;
    border: 2px solid #fff;
    box-sizing: inherit;
    display: inline-block;
    font-size: 15pt;
    transition: all .5s;
    cursor: pointer;
    vertical-align: middle;
}

    #home .button:hover {
        background-color: #252a34;
        border-color: #252a34;
    }

        #home .button:hover .icon {
            transform: rotate(90deg);
        }


/*Header styles*/
.main-header.splash.fixed {
    animation: popDown 0.5s;
}

/*Footer styles*/
.main-footer.splash {
    height: 75px;
}

.home-wrapper {
    overflow: hidden !important;
    height: calc(100vh + 53px);
}
/*Media Queries*/
@keyframes popDown {
    0% {
        transform: translateY(-100px);
    }
}

@keyframes popUp {
    100% {
        margin-top: 0;
        height: 75px;
    }
}
