@{
    ViewData["Title"] = "";
}
<div class="flex-vertical about-me">
    <div class="flexer flex-left">
        <p>I am a Chicago-based full stack software developer.</p>
        
        <p>My education is in physics and mathematics with a focus on modeling and computation.</p> 
        
        <p>After University I began my career as a software developer. I currently specialize in building enterprise level web applications and software as a service.</p>

        <p>My favorite languages are C#, Javascript, and Python, but most of what I love about programming is language agnostic. I love contributing to open-source projects, learning new frameworks, and in general being a part of the programming community.</p>
    </div>
</div>