@{
    ViewData["Title"] = "";
}
<div class="flex-vertical flex-center-children hero-container">
    <div class="flex-vertical-body flex-vertical padding-top-bottom">
        <div class="flex-vertical flex-vertical-body flex-center-children">
            <div class="me-img">
            </div>
        </div>
        <div class="flex-horizontal">
            <hr class="flexer full-width" />
        </div>
        <ul class="center-text flex-vertical ul-no-padding hero-description">
            <li>Senior Software Developer</li>
            <li>BigTime Software</li>
            <li>Chicago, IL</li>
        </ul>
    </div>
</div>
<div class="flex-vertical">
    <div class="about-container">
        <h2>About me</h2>
        I am a Chicago-based full stack software developer. I currently work at BigTime Software, a billing and project management web application, and specialize in building enterprise level web applications.  My primary focus is designing and implementing large features in a clean, extensible way.
        <br />
        <br />
        My favorite languages to use are C# and Javascript, but most of what I love about programming is language agnostic. I love contributing to open-source projects, learning new frameworks, learning new design patterns, and in general being a part of the programming and developer community.
        <br />
        <br />
        To see more of my work, check out my GitHub!
    </div>
</div>